<form action="/Usuario/Registrar" method="post">
    <label for="txtNombre">Nombre</label>
    <input type="text" id="txtNombre" name="txtNombre" />
    <input type="submit"  value="Enviar datos" />
</form>
<b>@ViewBag.nombreRecuperado</b>